<footer>
    <div class="cta">
        <h3>Vous souhaitez <br><span class="bold">démarrer un projet ?</span></h3>
        <p>Je serai ravi d’échanger avec vous afin de répondre 
        à vos questions ou pour faire le point sur vos besoins.</p>
        <a href="/contact" class="button">Prenons contact</a>
    </div>   
    <div class="contact">
        <a href="/"><img src="/assets/images/Logo_desgranges-studio.svg" alt="Logo Desgranges Studio"></a>
        <p>Tél. 
            <a href="">+33 (0)6 59 24 73 17</a> | Email. <a href="mailto:romain@desgranges.studio">Cliquez ici</a>
        </p>
        <p>Rennes, France.</p>
    </div> 
    <div class="copyright">
        <p>
            © 2021/2022, tous droits réservés. L'ensemble du site et son contenu sont la propriétés exclusive de Romain Desgranges, 
            aucune reproduction ou utilisation possible sans autorisation préalable.
        </p>
    </div>
</footer>