---
---
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="twitter:site" content="@beforesemicolon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Page d'accueil Portfolio Desgranges Studio</title>
        <meta name="description" content="Présentation des projets et des activités de Romain Desgranges, designer graphique freelance à Rennes, France.">
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/app.css">
        <link rel="stylesheet" href="/assets/css/locomotive-scroll.css">
    </head>

    <body data-scroll-container >
        {% include header.html %}
        {{ content }}
        {% include footer.html %}

    <!--scripts-->
    <script src="/assets/js/locomotive-scroll.min.js"></script>
    <script>
        const scroll = new LocomotiveScroll({
            el: document.querySelector('[data-scroll-container]'),
            smooth: true
        });

        scroll.destroy()

        setTimeout(function(){
            scroll.init()
        }, 100);
    </script>

       
    </body>
    
</html>